.introSection {
  background: var(--color-green);
}

.introSection__inner {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0 0;

  @media (min-width: 1440px) {
    padding: 10rem 0 0;
  }
}

.introSection__spoken-circle.spoken-circle {
  margin-bottom: 1.5rem;
}

.introSection__title {
  text-align: center;
  text-wrap: balance;
  line-height: 1.75;
}

.introSection__content {
  grid-column: 2 / span 10;
  margin-top: 3rem;
  display: flex;
  padding: 0 0 5rem;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
    padding: 0 0 10rem;
  }

  @media (min-width: 1440px) {
    padding: 0 0 15rem;
  }
}

.introSection__text-content-button,
.galleryTextSection__button {
  margin-top: 2rem;

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

.introSection__text-content {
  flex: 0 0 100%;
  order: 2;

  @media (min-width: 992px) {
    flex: 1;
  }
}
.introSection__image-content {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  margin-right: 0;
  justify-content: space-between;
  order: 1;
  margin-bottom: 2.5rem;

  @media (min-width: 992px) {
    flex: 2;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.introSection__image--0 {
  flex: 0 0 47.5%;
  aspect-ratio: 7/8;

  :is(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.introSection__image--1 {
  flex: 0 0 47.5%;
  aspect-ratio: 3/4;

  :is(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 
Image side Text side */

.imageSideTextSide {
  display: flex;
  min-height: 75vh;
  overflow: hidden;
}

.imageSideTextSide--left {
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.imageSideTextSide--right {
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row-reverse;
  }
}

.imageSideTextSide__text {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2.5rem 0;

  @media (min-width: 992px) {
    flex: 0 0 50%;
    margin: 0;
  }
}

.imageSideTextSide__image {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @media (min-width: 992px) {
    flex: 0 0 50%;
  }

  :is(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imageSideTextSide__image--cropped {
  width: 90%;
  margin-bottom: 5rem;
}

.imageSideTextSide__image--full {
  width: 100%;
  height: 100%;
}

.imageSideTextSide__text-inner {
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageSideTextSide__descriptionGroup {
  max-width: 90%;
  margin: 0 auto 3.5rem;
}

.imageSideTextSide__paragraph {
  text-wrap: balance;
  text-align: center;
}

.imageSideTextSide__pattern {
  width: 100%;
  height: 5rem;
  overflow: hidden;

  :is(svg) {
    width: 100%;
  }
}

.imageSideTextSide__title {
  text-align: center;
  margin-bottom: 3.5rem;
}

.imageSideTextSide__text-inner:has(.imageSideTextSide__pattern) {
  justify-content: flex-end;

  .imageSideTextSide__text-content {
    margin-bottom: 5rem;

    @media (min-width: 992px) {
      margin-bottom: 25%;
    }
  }

  .imageSideTextSide__paragraph {
    text-align: center;
  }
}

.imageSideTextSide__button {
  margin: 0 auto;
}

.imageSideTextSide__text-button {
  position: relative;
  z-index: 3;
}

/* full Width Image */

.fullWidthImageBreakdown {
  overflow: hidden;
}

.breakdown__inner {
  grid-column: 1 / span 12;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2.5rem 0;

  @media (min-width: 992px) {
    padding: 5rem 0;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.breakdown__item {
  flex: 0 0 100%;
  text-align: left;
  margin-top: 1rem;

  @media (min-width: 992px) {
    flex: 1;
    margin-top: 0;
  }
}

.breakdown__paragraph {
  margin-bottom: 0;
  width: 90%;
}

.fullWidthImage {
  position: relative;
  height: 60vh;

  @media (min-width: 992px) {
    height: 90vh;
  }
}

.fullWidthImage__image {
  height: 100%;
  object-fit: cover;
  max-width: initial;
}

.fullWidthImage__pattern {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 3;
  margin-top: 0.25rem;

  :is(svg) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 
Gallery Text Section */

.galleryTextSection {
  background: var(--color-green);
  padding: 5rem 0;

  @media (min-width: 992px) {
    padding: 15rem 0 10rem;
  }
}

.galleryTextSection__content.container {
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.galleryTextSection__text-section {
  grid-column: 2 / span 4;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.galleryTextSection__title-section {
  margin-bottom: 2.5rem;
}

.galleryTextSection__image-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  grid-column: 7 / span 6;
  margin-bottom: 25%;
  margin-top: 2rem;

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

.galleryTextSection__image--0 {
  position: absolute;
  left: 25%;
  top: -15%;

  @media (min-width: 992px) {
    left: -5%;
  }
}

.galleryTextSection__image--2 {
  position: absolute;
  left: 15%;
  top: 35%;

  @media (min-width: 992px) {
    left: -15%;
  }
}

.galleryTextSection__imageGroup {
  aspect-ratio: 1/1;
  border: 5px solid var(--color-white);
  width: 40%;

  @media (min-width: 768px) {
    border: 7px solid var(--color-white);
    width: 50%;
  }

  @media (min-width: 992px) {
    width: 65%;
  }

  :is(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.galleryTextSection__image--1 {
  display: block;
  transform: translate(50%, 15%);

  @media (min-width: 992px) {
    transform: translate(25%, 0%);
  }
}

/* Quote Section */

.quoteSection {
  /* //height: 95vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quoteSection__inner {
  width: 90%;
  margin: 0 auto;
  margin: 5rem 0;

  @media (min-width: 1200px) {
    margin: 15rem 0;
  }
}

.quoteSection__quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;

  @media (min-width: 992px) {
    padding: 5rem 0;
  }
}

.quoteSection__title {
  line-height: 1.25;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-biege);
  text-wrap: balance;

  @media (min-width: 992px) {
    line-height: 1.5;
  }
}

/* Work With us */

.workWithUs {
  background: var(--color-light-green);
}

.workWithUs__title {
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}

.workWithUs__pattern {
  width: 100%;
  height: 5rem;
  position: absolute;

  :is(svg) {
    width: 100%;
  }

  :is(path) {
    fill: var(--color-green);
  }
}

.workWithUs__content {
  grid-column: 2 / span 10;
  padding: 10rem 0;
}

.workWithUs__description {
  text-align: center;
}

.workWithUs__pattern--top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.workWithUs__pattern--bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.workWithUs__repeater {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  justify-content: center;

  @media (min-width: 992px) {
    margin-top: 2.5rem;
  }
}

.workWithUs__item {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 992px) {
    flex: 0 0 33%;
  }
}

.workWithUs__icon {
  width: 8rem;
  height: 8rem;
  background: var(--color-green);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;

  :is(svg) {
    width: 50%;
    height: 50%;
  }

  :is(svg g) {
    clip-path: none;
  }
}

/* 
Careers */

.career {
  background: var(--color-green);
}

.career__content {
  grid-column: 2 / span 10;
  padding: 7.5rem 0;
}

.career__title {
  text-align: center;
  margin-bottom: 2rem;
}

.career__description {
  text-align: center;
}

.career__card {
  border-top: 1px solid var(--color-light-green);
}

.career__card__content {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (min-width: 992px) {
    flex-wrap: no-wrap;
  }
}

.career__card__title {
  text-align: center;
  flex: 0 0 100%;
  margin-bottom: 0;
  line-height: 1.5;

  @media (min-width: 992px) {
    flex: 1;
    text-align: left;
  }
}

.career__card__description {
  text-align: center;
  margin-bottom: 0;

  line-height: 1.5;
  flex: 0 0 100%;

  @media (min-width: 992px) {
    flex: 2;
  }
}

.career__card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 0 0 100%;
  position: relative;
  z-index: 2;
  margin-top: 2rem;

  @media (min-width: 992px) {
    flex: 1;
    justify-content: flex-end;
    margin-top: 0;
  }

  .btn {
    margin-bottom: 0;
  }
}

.career__group {
  width: 100%;
  margin-top: 2.5rem;
}

/* 
Contact block */

.contact {
  background: var(--color-green);
}

.contact__inner {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
  }
}

.contact__item {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @media (min-width: 992px) {
    flex: 1;
  }

  :is(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact__item-inner {
  margin: 2.5rem auto 0;
  width: 90%;

  @media (min-width: 768px) {
    width: 80%;
  }

  @media (min-width: 992px) {
    margin: 0;
  }
}

.contact__main-openHours,
.contact__buttons {
  padding-bottom: 2.5rem;
  border-bottom: 1px dotted var(--color-white);
  border-width: 2px;
  margin-bottom: 2.5rem;
}

.contact__contactDetails {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}

.contact__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  .btn {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Map */

.map {
  min-height: 60vh;

  :is(iframe) {
    width: 100%;
    height: 60vh;
    vertical-align: bottom;
  }
}

/* Open Table */

.opentableEmbed {
  background: var(--color-teracotta);
}

.opentableEmbed__inner {
  grid-column: 1 / span 12;
  padding: 2.5rem 0;

  .ot-dtp-picker-form {
    display: flex;

    .ot-party-size-picker,
    .ot-date-picker,
    .ot-time-picker,
    .ot-dtp-picker-button {
      flex: 1;
    }
  }
}

/* Menu */

.menu {
  background: var(--color-green);
}

.menu__content {
  padding: 10rem 0 5rem;
  width: 90%;
  margin: 0 auto;
}

.menu__group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.menu__item {
  display: flex;
  width: 100%;
  margin-bottom: 0.25rem;
}

.menu__tile {
  /* aspect-ratio: 1/1; */
  flex: 1;
  /* aspect-ratio: 1/1; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  :is(svg) {
    width: 97.5%;
    height: 97.5%;
    object-fit: cover;
  }
}

.menu__title {
  text-align: center;
}

.second-menu__tile--2,
.second-menu__tile--3,
.first-menu__tile--2,
.first-menu__tile--3 {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}

.menu__titleGroup {
  margin: 1rem 0 2.5rem;

  @media (min-width: 768px) {
    margin: 0 0 2.5rem;
  }
}

.menu__tileGroup {
  flex: 1;
  display: flex;
}

.menu__link {
  display: block;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1.5;

  @media (min-width: 768px) {
    flex: 1;
  }

  &:hover {
    .menu__link-inner {
      background: var(--color-teracotta);
    }
  }
}

.menu__link-inner {
  text-align: center;
  transition: background 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: var(--color-light-green);
  width: 98.5%;
  margin: 0 auto;
  height: 97.5%;

  :is(p) {
    margin-bottom: 0;
  }
}

/* Testimonials */

.testimonial {
  background: var(--color-light-green);
  padding: 0 0 5rem;
}

.testimonial__content {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0 0;
}

.testimonial__titleGroup {
  margin: 2.5rem 0;
}

.testimonial__divider {
  width: 80%;
  margin: 1.5rem auto 0;

  @media (min-width: 992px) {
    width: 100%;
  }

  :is(svg) {
    width: 100%;
  }
}

.testimonial__title {
  text-align: center;
  font-weight: var(--font-weight-thin);
}

.testimonial__group {
  grid-column: 2 / span 10;
  padding: 0 0 5rem;
}

.testimonial__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial__item--name {
  margin-bottom: 0;
}

.testimonial__item--quote {
  text-wrap: balance;
  max-width: 85%;
  text-align: center;
  line-height: 1.75;
}

/* 
Voucher */

.voucher {
  background: var(--color-green);
}

.voucher__background-imageGroup {
  height: 50vh;
  width: 100vw;

  @media (min-width: 768px) {
    height: auto;
  }

  :is(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.voucher__content {
  background: var(--color-teracotta);

  transform: translateY(-12.5%);

  @media (min-width: 768px) {
    grid-column: 2 / span 10;
  }
}

.voucher__content-inner {
  max-width: 90%;
  margin: 2rem auto;
}

.voucher__bottom {
  width: 100%;
}

.voucher__content-titleGroup {
  padding: 0 0 2.5rem;

  @media (min-width: 768px) {
    padding: 2.5rem 0;
  }

  @media (min-width: 992px) {
    padding: 5rem 0;
  }
}

.voucher__content-title {
  text-align: center;
  text-wrap: balance;
  font-weight: var(--font-weight-thin);
  line-height: 1.25;

  @media (min-width: 992px) {
    line-height: 1.75;
  }
}

.voucher__content-button {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @media (min-width: 992px) {
    padding: 5rem 0 1.5rem;
  }
}

.voucher__button.btn.btn--block {
  background: var(--color-orange);
  margin-bottom: 0;
}

.voucher__content-logo {
  padding: 1.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @media (min-width: 992px) {
    padding: 2.5rem 0;
  }
}

.voucher__content-descriptionGroup {
  max-width: 92.5%;
  margin: 1rem auto;

  @media (min-width: 992px) {
    max-width: 80%;
    margin: 2rem auto;
  }
}

.voucher__divider {
  width: 100%;

  :is(svg) {
    width: 100%;
  }
}

.voucher__content-text {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

/* Footer Subscribe */

.subscribe {
  background: var(--color-green);
}

.subscribe__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5rem 0;
  grid-column: 1 / span 12;
}

.subscribe__textGroup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe__titleGroup {
  margin-bottom: 1rem;
}

.subscribe__tile {
  width: 8rem;
  height: 8rem;
  margin: 0.5rem 0;

  :is(svg) {
    width: 100%;
    height: 100%;
  }
}

.subscribe__embed {
  #mc_embed_signup {
    max-width: 90%;
    margin: 0 auto;
  }
}
