/* WP Backend Styles 

- WP Login Screens
- WP Colour Scheme
- KOTA Dashboard Banner

*/

/* WP Login Screens */

.welcome-panel-header-image {
  background: transparent;
}

.welcome-panel-content {
  background: var(--color-green);
}

.welcome-panel {
  :is(h1),
  :is(h2),
  :is(h3),
  :is(h4),
  :is(h5),
  :is(h6) {
    font-family: var(--font-headline);
    font-weight: 400;
    text-transform: uppercase;
  }

  :is(a),
  :is(p),
  :is(li) {
    font-family: var(--font-body);
  }
}
