/* WP Backend Styles 

- WP Login Screens
- WP Colour Scheme
- KOTA Dashboard Banner

*/

/* WP Login Screens */

/* Page */
body.login {
  background: black;
  color: white;
  accent-color: #00ffdf;
  font-size: 1rem;

  #login {
    margin-top: 0;
    padding-top: 10vh;
  }

  #login h1 a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='219.291' height='44' viewBox='0 0 219.291 44'%3E%3Cg transform='translate(18884 22646.002)'%3E%3Cg transform='translate(-18884 -22646.002)'%3E%3Cpath d='M29.458,27.563,17.385,21.279,28.753,13.77l-5.311-2.764L12.073,18.514,0,12.229l16.415,16.43L21.177,44,57.489,9.049ZM40.1,0,28.736,7.508l5.316,2.743,6.213-4.112Z' fill='%23fff'/%3E%3C/g%3E%3Cpath d='M.32-14.4H10.8v1.16H6.24V0H4.88V-13.24H.32ZM12.56,0V-14.4h1.2v5.48a7.621,7.621,0,0,1,1.49-1.24,3.428,3.428,0,0,1,1.85-.48,4.724,4.724,0,0,1,1.78.33,3.037,3.037,0,0,1,1.38,1.15,2.579,2.579,0,0,1,.45,1.15,10.44,10.44,0,0,1,.07,1.23V0h-1.2V-6.76a3.086,3.086,0,0,0-.62-2.1,2.633,2.633,0,0,0-2.06-.7,2.923,2.923,0,0,0-1.02.17,3.21,3.21,0,0,0-.83.45,3.014,3.014,0,0,0-.63.64,2.97,2.97,0,0,0-.4.76,3.814,3.814,0,0,0-.22.96q-.04.46-.04,1V0ZM31.18-5.9a4.755,4.755,0,0,0-.21-1.43,3.342,3.342,0,0,0-.62-1.16,2.951,2.951,0,0,0-1.03-.78,3.315,3.315,0,0,0-1.42-.29,3.157,3.157,0,0,0-1.41.3,3.242,3.242,0,0,0-1.04.8,4.024,4.024,0,0,0-.69,1.16,5.379,5.379,0,0,0-.34,1.4Zm-6.76,1a5.622,5.622,0,0,0,.22,1.59,3.841,3.841,0,0,0,.65,1.3,3.147,3.147,0,0,0,1.09.88A3.355,3.355,0,0,0,27.9-.8a3.307,3.307,0,0,0,2.02-.62,2.986,2.986,0,0,0,1.12-1.76h1.34a6.461,6.461,0,0,1-.58,1.37,4.227,4.227,0,0,1-.9,1.1,3.89,3.89,0,0,1-1.28.73A5.185,5.185,0,0,1,27.9.28a5.022,5.022,0,0,1-2.14-.42,4.036,4.036,0,0,1-1.48-1.15,4.853,4.853,0,0,1-.86-1.72,7.8,7.8,0,0,1-.28-2.13,6.787,6.787,0,0,1,.33-2.14,5.449,5.449,0,0,1,.94-1.75,4.368,4.368,0,0,1,1.49-1.18,4.5,4.5,0,0,1,2-.43,4.131,4.131,0,0,1,3.36,1.47,6.458,6.458,0,0,1,1.2,4.27ZM49.027,0V-6.426H43.4V0H40.424V-14.395H43.4v5.488h5.625v-5.488h2.988V0Zm6.035-9.492A4.545,4.545,0,0,1,58.852-10.9a6.732,6.732,0,0,1,3.105.693,2.662,2.662,0,0,1,1.357,2.617v4.883q0,.508.02,1.23a1.547,1.547,0,0,0,.166.742,1,1,0,0,0,.41.322V0H60.883a3.1,3.1,0,0,1-.176-.605q-.049-.283-.078-.645A5.718,5.718,0,0,1,59.3-.186,4,4,0,0,1,57.27.332a3.492,3.492,0,0,1-2.388-.825,2.943,2.943,0,0,1-.942-2.339,3.036,3.036,0,0,1,1.514-2.842,6.721,6.721,0,0,1,2.441-.684l.947-.117a4.344,4.344,0,0,0,1.1-.244.837.837,0,0,0,.6-.791.939.939,0,0,0-.454-.9,2.837,2.837,0,0,0-1.333-.249,1.737,1.737,0,0,0-1.4.488,2.03,2.03,0,0,0-.391.977H54.281A4.085,4.085,0,0,1,55.063-9.492Zm2.07,7.48a1.454,1.454,0,0,0,.957.322,2.835,2.835,0,0,0,1.655-.527,2.249,2.249,0,0,0,.786-1.924V-5.176A3.025,3.025,0,0,1,60-4.907a4.451,4.451,0,0,1-.737.19l-.625.117a4.036,4.036,0,0,0-1.26.381,1.277,1.277,0,0,0-.645,1.182A1.222,1.222,0,0,0,57.133-2.012Zm8.711-12.383h2.783V0H65.844ZM80.219-9.3A6.211,6.211,0,0,1,81.566-5.3a6.171,6.171,0,0,1-1.348,4.009A4.952,4.952,0,0,1,76.127.371a4.952,4.952,0,0,1-4.092-1.665A6.171,6.171,0,0,1,70.688-5.3,6.211,6.211,0,0,1,72.035-9.3a4.918,4.918,0,0,1,4.092-1.689A4.918,4.918,0,0,1,80.219-9.3Zm-4.1.664a2.224,2.224,0,0,0-1.88.864A4,4,0,0,0,73.578-5.3a4.021,4.021,0,0,0,.659,2.471,2.219,2.219,0,0,0,1.88.869,2.206,2.206,0,0,0,1.875-.869A4.043,4.043,0,0,0,78.647-5.3a4.021,4.021,0,0,0-.654-2.466A2.211,2.211,0,0,0,76.117-8.633ZM95.556-6.28V-7.44h6.16V0h-1.16V-2.46a6.925,6.925,0,0,1-.87,1.17,4.8,4.8,0,0,1-1.13.9,5.476,5.476,0,0,1-1.48.57,8.229,8.229,0,0,1-1.9.2,6.526,6.526,0,0,1-2.52-.48,5.388,5.388,0,0,1-2-1.43,6.689,6.689,0,0,1-1.31-2.39,10.846,10.846,0,0,1-.47-3.36,10.483,10.483,0,0,1,.4-2.95,6.622,6.622,0,0,1,1.23-2.38,5.817,5.817,0,0,1,2.08-1.59,6.952,6.952,0,0,1,2.95-.58,7.8,7.8,0,0,1,2.13.28,5.635,5.635,0,0,1,1.78.85,5.109,5.109,0,0,1,1.33,1.42,5.97,5.97,0,0,1,.78,2.01h-1.4a4.214,4.214,0,0,0-.61-1.44,4.146,4.146,0,0,0-1.03-1.07,4.653,4.653,0,0,0-1.34-.66,5.158,5.158,0,0,0-1.54-.23,5.494,5.494,0,0,0-2.44.5,4.478,4.478,0,0,0-1.68,1.41,6.156,6.156,0,0,0-.97,2.18,11.761,11.761,0,0,0-.31,2.79,7.35,7.35,0,0,0,.35,2.28,5.791,5.791,0,0,0,1.02,1.9,4.893,4.893,0,0,0,1.64,1.3,4.918,4.918,0,0,0,2.21.48,5.843,5.843,0,0,0,1.2-.13,4.7,4.7,0,0,0,1.2-.43,4.627,4.627,0,0,0,1.08-.78A4.418,4.418,0,0,0,99.8-3.3a5.153,5.153,0,0,0,.47-1.42,10.491,10.491,0,0,0,.15-1.56ZM106.076,0h-1.2V-10.36h1.2v1.94h.04a3.473,3.473,0,0,1,1.29-1.73,3.927,3.927,0,0,1,2.09-.49v1.3a3.5,3.5,0,0,0-1.68.32,2.763,2.763,0,0,0-1.05.92,3.643,3.643,0,0,0-.54,1.37,8.831,8.831,0,0,0-.15,1.65Zm9.16.28a5.393,5.393,0,0,1-1.87-.36,4.188,4.188,0,0,1-1.52-1.02,4.9,4.9,0,0,1-1.03-1.7,6.8,6.8,0,0,1-.38-2.38,7.311,7.311,0,0,1,.3-2.13,5.029,5.029,0,0,1,.9-1.73,4.271,4.271,0,0,1,1.5-1.17,4.821,4.821,0,0,1,2.1-.43,4.871,4.871,0,0,1,2.12.43,4.324,4.324,0,0,1,1.5,1.16,4.788,4.788,0,0,1,.89,1.73,7.65,7.65,0,0,1,.29,2.14,6.931,6.931,0,0,1-.34,2.24,5.043,5.043,0,0,1-.97,1.72,4.271,4.271,0,0,1-1.52,1.11A4.856,4.856,0,0,1,115.236.28Zm3.52-5.46a7.075,7.075,0,0,0-.2-1.72,4.075,4.075,0,0,0-.62-1.39,2.978,2.978,0,0,0-1.08-.93,3.508,3.508,0,0,0-1.62-.34,3.284,3.284,0,0,0-1.61.37,3.151,3.151,0,0,0-1.09.98,4.309,4.309,0,0,0-.62,1.4,6.616,6.616,0,0,0-.2,1.63,6.462,6.462,0,0,0,.23,1.77,4.149,4.149,0,0,0,.67,1.39,3.008,3.008,0,0,0,1.1.9,3.443,3.443,0,0,0,1.52.32,3.284,3.284,0,0,0,1.61-.37,3.114,3.114,0,0,0,1.09-.99,4.439,4.439,0,0,0,.62-1.4A6.5,6.5,0,0,0,118.756-5.18Zm10.5-5.18h1.2V0h-1.2V-1.44q-.24.28-.54.58a4.1,4.1,0,0,1-.69.55,3.96,3.96,0,0,1-.91.42,3.862,3.862,0,0,1-1.2.17,4.563,4.563,0,0,1-1.74-.29,2.848,2.848,0,0,1-1.13-.81,3.211,3.211,0,0,1-.62-1.21,5.675,5.675,0,0,1-.19-1.51v-6.82h1.2v6.8a3.026,3.026,0,0,0,.62,2.05,2.582,2.582,0,0,0,2.04.71,2.975,2.975,0,0,0,1.33-.29,2.78,2.78,0,0,0,.99-.81,3.864,3.864,0,0,0,.62-1.24,5.388,5.388,0,0,0,.22-1.58Zm5.44,5.22a5.714,5.714,0,0,0,.24,1.67,4.324,4.324,0,0,0,.69,1.38,3.39,3.39,0,0,0,1.1.94,3.051,3.051,0,0,0,1.47.35,3.357,3.357,0,0,0,1.61-.37,3.168,3.168,0,0,0,1.13-1.01,4.368,4.368,0,0,0,.64-1.49,6.763,6.763,0,0,0,.16-1.83,5.1,5.1,0,0,0-.27-1.73,3.687,3.687,0,0,0-.75-1.27,3.2,3.2,0,0,0-1.12-.79,3.566,3.566,0,0,0-1.4-.27,3.228,3.228,0,0,0-1.5.34,3.158,3.158,0,0,0-1.1.93,4.266,4.266,0,0,0-.67,1.4A6.384,6.384,0,0,0,134.7-5.14Zm0,9.22h-1.2V-10.36h1.2v1.82h.04a3.519,3.519,0,0,1,.67-.9,3.907,3.907,0,0,1,.9-.66,4.827,4.827,0,0,1,1.01-.4,3.913,3.913,0,0,1,1.02-.14,4.939,4.939,0,0,1,2.14.42,3.986,3.986,0,0,1,1.45,1.15,4.691,4.691,0,0,1,.83,1.73,8.479,8.479,0,0,1,.26,2.14,7.678,7.678,0,0,1-.28,2.08,5.157,5.157,0,0,1-.85,1.75,4.21,4.21,0,0,1-1.44,1.2,4.406,4.406,0,0,1-2.05.45,4.776,4.776,0,0,1-2.11-.49,3.714,3.714,0,0,1-1.59-1.45Z' transform='translate(-18807.725 -22618)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 62px;
    margin-bottom: 24px;
    width: auto;
  }
}

#login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-height: 100vh;
  margin-top: 10%;
  padding: 0 20px;
  width: 100%;
}

/*  Error/success message */

.login {
  .message {
    background: none;
    border: solid 2px #00ffdf;
    border-radius: 4px;
    letter-spacing: 0.005em;
  }

  #login_error {
    border-left-color: #f03e2e;
    background: rgba(255, 255, 255, 0.2);
  }
}

/* Form */

.login {
  :is(form) {
    background: black;
    color: white;
    box-shadow: none;
    border: 0;
    padding: 0;
    overflow: visible;

    .input,
    input[type='text'],
    input[type='password'] {
      font-size: 22px;
      padding: 8px 12px;

      &:focus {
        outline-color: #00ffdf;
        box-shadow: none;
        border: none;
      }
    }

    input[type='checkbox'] {
      &:focus {
        border-color: #00ffdf;
        box-shadow: 0;
      }

      &:checked::before {
        content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
        margin: -0.1875rem 0 0 -0.25rem;
        height: 1.3125rem;
        width: 1.3125rem;
      }
    }
  }

  label {
    font-size: 15px;
    margin-bottom: 3px;
  }
}
/* Links */

.login #nav,
.login #backtoblog,
.login .privacy-policy-page-link {
  padding: 0;

  :is(a) {
    color: #00ffdf !important;

    /* :hover {
      color: #00ffdf;
    } */
  }
}

/* Button */
.wp-core-ui .button-primary {
  border-color: white;
  background: none;
  color: white;
  font-size: 1rem;
  border-width: 2px;
  border-radius: 1.75rem;
  font-weight: 400;
  padding: 15px 26px 16px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &.active,
  &.active:hover,
  &.active:focus,
  &:focus,
  &:active {
    background: 'white';
    color: black;
    border-color: 'white';
  }

  &.focus,
  &:focus {
    box-shadow: none;
  }
}

.wp-core-ui .button.button-large,
.wp-core-ui .button-group.button-large .button {
  padding: 0.875rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1;

  &:hover {
    background: #00ffdf;
  }
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: 'black';
}

.forgetmenot {
  user-select: none;
}

.login .button.wp-hide-pw {
  height: 46px;
  color: #00ffdf;

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  &:hover {
    color: black;
  }
}
